.mat-dialog-close
    position: absolute
    right: 0
    top: 0
    font-size: 24px
    border: 0
    background-color: whitesmoke
    color: grey
    outline: none
    transition: .3s
    &:hover
        color: red
        cursor: pointer
.mat-dialog-container
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12)
  display: block
  padding: 24px
  border-radius: 2px
  box-sizing: border-box
  overflow: auto
  outline: 0
  width: 100%
  height: 100%
  min-height: inherit
  max-height: inherit

@media screen and (-ms-high-contrast: active)
  .mat-dialog-container
    outline: solid 1px

.mat-dialog-content
  display: block
  margin: 0 -24px
  padding: 0 24px
  max-height: 65vh
  overflow: auto
  -webkit-overflow-scrolling: touch

.mat-dialog-title
  margin: 0 0 20px
  display: block

.mat-dialog-actions
  padding: 12px 0
  display: flex
  flex-wrap: wrap
  margin-bottom: -24px
  &[align=end]
    justify-content: flex-end
  &[align=center]
    justify-content: center
  .mat-button +
    .mat-button, .mat-raised-button
      margin-left: 8px
  .mat-raised-button +
    .mat-button, .mat-raised-button
      margin-left: 8px

[dir=rtl] .mat-dialog-actions
  .mat-button +
    .mat-button, .mat-raised-button
      margin-left: 0
      margin-right: 8px
  .mat-raised-button +
    .mat-button, .mat-raised-button
      margin-left: 0
      margin-right: 8px