.app-logo
    width: fit-content
    margin: auto
    padding: 20px
    .foto
        display: inline-block
        vertical-align: top
        width:  60px
        height: 60px
        background-color: #cccccc
        border-radius: 50%
        margin: 5px 10px
    .text
        display: inline-block
        vertical-align: top
        color: #024e8b
        .top
            font-size: 30px
            margin: 0
            margin-top: 3px
            font-weight: 800
        .bottom
            font-size: 16.5px
            margin: 0
            margin-top: -10px
            font-weight: 600

