.prettyInput
    margin: 10px 0
    p
        margin: 3px
        color: #5c5c5c
        font-size: 14px
        transition: .3s
        &.wrong
            color: #ff2222
    input
        padding: 10px
        width: 300px
        border-radius: 3px
        outline: none
        border: 1px solid #e4e4e4
        transition: .5s
        &:focus
            box-shadow: 0px 0px 35px -15px rgb(0,0,0)
        &.wrong
            border: 1px solid #ff6c6c
            box-shadow: 0px 0px 35px -15px red
