<div class="app-content">
  <pretty-input
    titleS="Username"
    type="text"
    [(model)]="inputs['name']">
  </pretty-input>
  <pretty-input
    titleS="Password"
    type="password"
    [(model)]="inputs['password']">
  </pretty-input>

  <div class="contentFooter">
    <input
      class="send"
      type="button" 
      value="ОТПРАВИТЬ"
      (click)="log()">
    <p
      (click)="forgot()"
      class="forgot">
      Forgot password?
    </p>
  </div>
</div>