.app-content
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25)
    background-color: white
    padding: 5px 20px

    // height: 300px
    // width: 500px
    .contentFooter
        margin-top: 20px
        margin-bottom: 10px
        .send
            letter-spacing: 1px
            display: inline-block
            padding: 10px 25px
            border-radius: 50px
            border: 0
            font-size: 12px
            color: white
            background-color: #ec008d
            vertical-align: top
            outline: none
            cursor: pointer
            transition: .3s
            &:hover
                background-color: #c10074
        .forgot
            display: inline-block
            float: right
            margin: 7px 0
            vertical-align: top
            font-size: 14px
            color: grey
            text-decoration: underline
            cursor: pointer
