/* You can add global styles to this file, and also import other style files */
body
    background-color: #f5f5f5
.cdk-overlay-container
    position: absolute
    top: 150px
    left: 50vw
    transform: translate(-50%, -50%)
    z-index: 50
    font-family: 'Open Sans', sans-serif;